Notebook to combine and bin data for the NHL from 2014-2019

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
data1 = "nhl odds 2014-15.csv"
data2 = "nhl odds 2015-16.csv"
data3 = "nhl odds 2016-17.csv"
data4 = "nhl odds 2017-18.csv"
data5 = "nhl odds 2018-19.csv"

# Read the mouse data and the study results
data1 = pd.read_csv(data1)
data2 = pd.read_csv(data2)
data3 = pd.read_csv(data3)
data4 = pd.read_csv(data4)
data5 = pd.read_csv(data5)

In [4]:
#put the frames of the different seasons into a list
frames = [data1, data2, data3, data4, data5]

#stack the frames into a single set for analysis
df = pd.concat(frames)
df.head()

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,Puck Line,Unnamed: 11,Open OU,Unnamed: 13,Close OU,Unnamed: 15
0,1008,1,V,Montreal,1,1,2,4,-105,-105,1.5,-305.0,5.5,106,5.5,110
1,1008,2,H,Toronto,2,0,1,3,-115,-115,-1.5,250.0,5.5,-126,5.5,-130
2,1008,3,V,Philadelphia,0,0,1,1,165,165,1.5,-180.0,5.5,123,5.5,115
3,1008,4,H,Boston,1,0,1,2,-195,-185,-1.5,155.0,5.5,-143,5.5,-135
4,1008,5,V,SanJose,1,3,0,4,101,130,1.5,-240.0,5.5,127,5.0,-136

In [5]:
p_dif = []

for i in range(1, df.shape[0], 2):
        home_dif = df['Final'].iloc[i] - df['Final'].iloc[i-1]
        away_dif = df['Final'].iloc[i-1] - df['Final'].iloc[i]
        p_dif.append(away_dif)
        p_dif.append(home_dif)
        
df['Point_Dif'] = p_dif
df.head()

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,Puck Line,Unnamed: 11,Open OU,Unnamed: 13,Close OU,Unnamed: 15,Point_Dif
0,1008,1,V,Montreal,1,1,2,4,-105,-105,1.5,-305.0,5.5,106,5.5,110,1
1,1008,2,H,Toronto,2,0,1,3,-115,-115,-1.5,250.0,5.5,-126,5.5,-130,-1
2,1008,3,V,Philadelphia,0,0,1,1,165,165,1.5,-180.0,5.5,123,5.5,115,-1
3,1008,4,H,Boston,1,0,1,2,-195,-185,-1.5,155.0,5.5,-143,5.5,-135,1
4,1008,5,V,SanJose,1,3,0,4,101,130,1.5,-240.0,5.5,127,5.0,-136,4

In [6]:
ml_pays_result = []

for i in range(0, df.shape[0]):
    if df['Close'].iloc[i] < 0:
        result = -100/df['Close'].iloc[i]
        ml_pays_result.append(result)
    else:
        result = df['Close'].iloc[i]/100
        ml_pays_result.append(result)
        
df['ML_Pays'] = ml_pays_result
df.head()

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,Puck Line,Unnamed: 11,Open OU,Unnamed: 13,Close OU,Unnamed: 15,Point_Dif,ML_Pays
0,1008,1,V,Montreal,1,1,2,4,-105,-105,1.5,-305.0,5.5,106,5.5,110,1,0.952381
1,1008,2,H,Toronto,2,0,1,3,-115,-115,-1.5,250.0,5.5,-126,5.5,-130,-1,0.869565
2,1008,3,V,Philadelphia,0,0,1,1,165,165,1.5,-180.0,5.5,123,5.5,115,-1,1.650000
3,1008,4,H,Boston,1,0,1,2,-195,-185,-1.5,155.0,5.5,-143,5.5,-135,1,0.540541
4,1008,5,V,SanJose,1,3,0,4,101,130,1.5,-240.0,5.5,127,5.0,-136,4,1.300000

In [7]:
pl_pays_result = []

for i in range(0, df.shape[0]):
    if df['Unnamed: 11'].iloc[i] < 0:
        result = -100/df['Unnamed: 11'].iloc[i]
        pl_pays_result.append(result)
    else:
        result = df['Unnamed: 11'].iloc[i]/100
        pl_pays_result.append(result)
        
df['PL_Pays'] = pl_pays_result
df.head()

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,Puck Line,Unnamed: 11,Open OU,Unnamed: 13,Close OU,Unnamed: 15,Point_Dif,ML_Pays,PL_Pays
0,1008,1,V,Montreal,1,1,2,4,-105,-105,1.5,-305.0,5.5,106,5.5,110,1,0.952381,0.327869
1,1008,2,H,Toronto,2,0,1,3,-115,-115,-1.5,250.0,5.5,-126,5.5,-130,-1,0.869565,2.500000
2,1008,3,V,Philadelphia,0,0,1,1,165,165,1.5,-180.0,5.5,123,5.5,115,-1,1.650000,0.555556
3,1008,4,H,Boston,1,0,1,2,-195,-185,-1.5,155.0,5.5,-143,5.5,-135,1,0.540541,1.550000
4,1008,5,V,SanJose,1,3,0,4,101,130,1.5,-240.0,5.5,127,5.0,-136,4,1.300000,0.416667

In [8]:
ml_outcome = []

for i in range(0, df.shape[0]):
    if df['Point_Dif'].iloc[i] > 0:
        result = 100*df['ML_Pays'].iloc[i]
        ml_outcome.append(result)
    else:
        result = -100
        ml_outcome.append(result)
        
df['ML_Outcome'] = ml_outcome
df.head()

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,Puck Line,Unnamed: 11,Open OU,Unnamed: 13,Close OU,Unnamed: 15,Point_Dif,ML_Pays,PL_Pays,ML_Outcome
0,1008,1,V,Montreal,1,1,2,4,-105,-105,1.5,-305.0,5.5,106,5.5,110,1,0.952381,0.327869,95.238095
1,1008,2,H,Toronto,2,0,1,3,-115,-115,-1.5,250.0,5.5,-126,5.5,-130,-1,0.869565,2.500000,-100.000000
2,1008,3,V,Philadelphia,0,0,1,1,165,165,1.5,-180.0,5.5,123,5.5,115,-1,1.650000,0.555556,-100.000000
3,1008,4,H,Boston,1,0,1,2,-195,-185,-1.5,155.0,5.5,-143,5.5,-135,1,0.540541,1.550000,54.054054
4,1008,5,V,SanJose,1,3,0,4,101,130,1.5,-240.0,5.5,127,5.0,-136,4,1.300000,0.416667,130.000000

In [9]:
pl_outcome = []

for i in range(0, df.shape[0]):
    if df['Point_Dif'].iloc[i] >= 2:
        result = 100*df['PL_Pays'].iloc[i]
        pl_outcome.append(result)
    elif (df['Point_Dif'].iloc[i] <= 1) & (df['Puck Line'].iloc[i] == -1.5):
        result = -100
        pl_outcome.append(result)
    elif (df['Point_Dif'].iloc[i] >= -1) & (df['Puck Line'].iloc[i] == 1.5):
        result = 100*df['PL_Pays'].iloc[i]
        pl_outcome.append(result)
    else:
        result = -100
        pl_outcome.append(result)
        
df['PL_Outcome'] = pl_outcome
df.head()

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,...,Unnamed: 11,Open OU,Unnamed: 13,Close OU,Unnamed: 15,Point_Dif,ML_Pays,PL_Pays,ML_Outcome,PL_Outcome
0,1008,1,V,Montreal,1,1,2,4,-105,-105,...,-305.0,5.5,106,5.5,110,1,0.952381,0.327869,95.238095,32.786885
1,1008,2,H,Toronto,2,0,1,3,-115,-115,...,250.0,5.5,-126,5.5,-130,-1,0.869565,2.500000,-100.000000,-100.000000
2,1008,3,V,Philadelphia,0,0,1,1,165,165,...,-180.0,5.5,123,5.5,115,-1,1.650000,0.555556,-100.000000,55.555556
3,1008,4,H,Boston,1,0,1,2,-195,-185,...,155.0,5.5,-143,5.5,-135,1,0.540541,1.550000,54.054054,-100.000000
4,1008,5,V,SanJose,1,3,0,4,101,130,...,-240.0,5.5,127,5.0,-136,4,1.300000,0.416667,130.000000,41.666667

In [10]:
away_df = df[df['VH']=='V'].reset_index()
home_df = df[df['VH']=='H'].reset_index()

In [ ]:
away_df.head()

In [ ]:
home_df.head()

In [ ]:
home_df['ML_Outcome'].sum()

In [ ]:
home_df['PL_Outcome'].sum()

In [ ]:
away_df['ML_Outcome'].sum()

In [ ]:
away_df['PL_Outcome'].sum()

In [ ]:
fav_df = df[df['Puck Line']== -1.5].reset_index()
ud_df = df[df['Puck Line']== 1.5].reset_index()

In [ ]:
fav_df['ML_Outcome'].sum()

In [ ]:
ud_df['ML_Outcome'].sum()

In [ ]:
fav_df['PL_Outcome'].sum()

In [ ]:
ud_df['PL_Outcome'].sum()

In [ ]:
x_values = df['Close']
y_values = df['Point_Dif']

(slope, intercept, rvalue, pvalue, stderr) = st.linregress(x_values, y_values)

regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,3)) + "x + " + str(round(intercept,3))

plt.scatter(x_values,y_values)
plt.plot(x_values,regress_values,"r-")
plt.annotate(line_eq,(-90, 9),fontsize=15,color="red")
plt.axhspan(-0.1, 0.1, -700, 700, color="black")
plt.axhspan(-12, 12, 0.528, 0.532, color="black")
plt.title('Closing Odds vs Point Differential')
plt.ylim(-11, 11)
plt.xlabel("Closing Odds")
plt.ylabel("Point Differential")
plt.show()

At -526, a team is expected to win by 1.5 goals, so puckline on the favorite is a better bet
At +474, a team is expected to lose by 1.5 goals, so moneyline on the favorite is a better bet

In [14]:
print(df['Close'].min())
print(df['Close'].max())

-575
505

In [18]:
# Create favored team table
fav = []

# Iterate through the table and see which team had the lower number in closing (Favored to win)
for i in range(1,df.shape[0], 2):
    if (df['Close'].iloc[i] < df['Close'].iloc[i-1]):
        fav.append(df.iloc[i])
    else:
        fav.append(df.iloc[i-1])

# Create new table with just the favored team in it
favored_df = pd.DataFrame(fav)
favored_df

# Create row to see who won or loss by checking the point diferential was positive or negative.
def set_winner(row):
    if row['Point_Dif'] > 0:
        return 'Won'
    else:
        return 'Loss'

def set_pl_winner(row):
    if row['PL_Outcome'] > 0:
        return 'Won'
    else:
        return 'Loss'
# add the result column 
favored_df = favored_df.assign(ML_Result=favored_df.apply(set_winner, axis=1)) 
favored_df = favored_df.assign(PL_Result=favored_df.apply(set_pl_winner, axis=1))
favored_df.head()

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,...,Unnamed: 13,Close OU,Unnamed: 15,Point_Dif,ML_Pays,PL_Pays,ML_Outcome,PL_Outcome,ML_Result,PL_Result
1,1008,2,H,Toronto,2,0,1,3,-115,-115,...,-126,5.5,-130,-1,0.869565,2.50,-100.000000,-100.0,Loss,Loss
3,1008,4,H,Boston,1,0,1,2,-195,-185,...,-143,5.5,-135,1,0.540541,1.55,54.054054,-100.0,Won,Loss
5,1008,6,H,LosAngeles,0,0,0,0,-121,-150,...,-147,5.0,116,-4,0.666667,2.00,-100.000000,-100.0,Loss,Loss
6,1008,7,V,Vancouver,1,2,1,4,-131,-126,...,123,5.0,-140,2,0.793651,2.30,79.365079,230.0,Won,Won
9,1009,52,H,Washington,1,0,0,1,-135,-145,...,-115,5.5,-135,-1,0.689655,2.05,-100.000000,-100.0,Loss,Loss

In [19]:
# Create the bins in which Data will be held
bins = [-600, -550.1, -500.1, -450.1, -400.1, -350.1, -300.1, -250.1, -200.1, -150.1, -100.1]

# Create the names for the four bins
group_names = ["-550+","-550 to -500", "-500 to -450", "-450 to -400", "-400 to -350", "-350 to -300", "-300 to -250", "-250 to -200", "-200 to -150", "-150 to PK"]

In [20]:
favored_df["Close Groups"] = pd.cut(favored_df["Close"], bins, labels=group_names, include_lowest=True)

In [25]:
ml_won = (favored_df['ML_Result'] == 'Won')
ml_loss = (favored_df['ML_Result'] == 'Loss')

pl_won = (favored_df['PL_Result'] == 'Won')
pl_loss = (favored_df['PL_Result'] == 'Loss')

metrics_df = pd.DataFrame()

metrics_df['Wins'] = favored_df[ml_won].groupby('Close Groups')['Team'].count()
metrics_df['Losses'] = favored_df[ml_loss].groupby('Close Groups')['Team'].count()
metrics_df['PL Wins'] = favored_df[pl_won].groupby('Close Groups')['Team'].count()
metrics_df['PL Losses'] = favored_df[pl_loss].groupby('Close Groups')['Team'].count()
metrics_df['Total'] = favored_df.groupby('Close Groups')['Team'].count()

metrics_df['Win %'] = 100 * metrics_df['Wins'] / metrics_df['Total']
metrics_df['Loss %'] = 100 * metrics_df['Losses'] / metrics_df['Total']
metrics_df['PL Win %'] = 100 * metrics_df['PL Wins'] / metrics_df['Total']
metrics_df['PL Loss %'] = 100 * metrics_df['PL Losses'] / metrics_df['Total']

metrics_df['Wins'] = metrics_df['Wins'].astype(int)
metrics_df['Losses'] = metrics_df['Losses'].astype(int)
metrics_df['PL Wins'] = metrics_df['PL Wins'].astype(int)
metrics_df['PL Losses'] = metrics_df['PL Losses'].astype(int)
metrics_df['Total'] = metrics_df['Total'].astype(int)

metrics_df['Win %'] = round(metrics_df['Win %'], 2)
metrics_df['Loss %'] = round(metrics_df['Loss %'], 2)
metrics_df['PL Win %'] = round(metrics_df['PL Win %'], 2)
metrics_df['PL Loss %'] = round(metrics_df['PL Loss %'], 2)

metrics_df

,Wins,Losses,PL Wins,PL Losses,Total,Win %,Loss %,PL Win %,PL Loss %
Close Groups,,,,,,,,,
-550+,1,0,1,0,1,100.00,0.00,100.00,0.00
-550 to -500,3,1,3,1,4,75.00,25.00,75.00,25.00
-500 to -450,2,0,2,0,2,100.00,0.00,100.00,0.00
-450 to -400,9,0,5,4,9,100.00,0.00,55.56,44.44
-400 to -350,16,7,12,11,23,69.57,30.43,52.17,47.83
-350 to -300,49,20,31,38,69,71.01,28.99,44.93,55.07
-300 to -250,132,58,92,98,190,69.47,30.53,48.42,51.58
-250 to -200,424,194,250,368,618,68.61,31.39,40.45,59.55
-200 to -150,1246,768,716,1298,2014,61.87,38.13,35.55,64.45
-150 to PK,2036,1704,1195,2545,3740,54.44,45.56,31.95,68.05

In [28]:
# Create favored team table
ud = []

# Iterate through the table and see which team had the lower number in closing (Favored to win)
for i in range(1,df.shape[0], 2):
    if (df['Close'].iloc[i] > df['Close'].iloc[i-1]):
        ud.append(df.iloc[i])
    else:
        ud.append(df.iloc[i-1])

# Create new table with just the favored team in it
dog_df = pd.DataFrame(ud)

# Create row to see who won or loss by checking the point diferential was positive or negative.
def set_winner(row):
    if row['Point_Dif'] > 0:
        return 'Won'
    else:
        return 'Loss'

def set_pl_winner(row):
    if row['PL_Outcome'] > 0:
        return 'Won'
    else:
        return 'Loss'
# add the result column 
dog_df = dog_df.assign(ML_Result=dog_df.apply(set_winner, axis=1)) 
dog_df = dog_df.assign(PL_Result=dog_df.apply(set_pl_winner, axis=1))
dog_df.head()

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,...,Unnamed: 13,Close OU,Unnamed: 15,Point_Dif,ML_Pays,PL_Pays,ML_Outcome,PL_Outcome,ML_Result,PL_Result
0,1008,1,V,Montreal,1,1,2,4,-105,-105,...,106,5.5,110,1,0.952381,0.327869,95.238095,32.786885,Won,Won
2,1008,3,V,Philadelphia,0,0,1,1,165,165,...,123,5.5,115,-1,1.650000,0.555556,-100.000000,55.555556,Loss,Won
4,1008,5,V,SanJose,1,3,0,4,101,130,...,127,5.0,-136,4,1.300000,0.416667,130.000000,41.666667,Won,Won
7,1008,8,H,Calgary,0,2,0,2,111,106,...,-143,5.0,120,-2,1.060000,0.363636,-100.000000,-100.000000,Loss,Loss
8,1009,51,V,Montreal,0,0,1,2,115,125,...,-105,5.5,115,1,1.250000,0.408163,125.000000,40.816327,Won,Won

In [29]:
print(dog_df['Close'].max())
print(dog_df['Close'].min())

505
-110

In [32]:
# Create the bins in which Data will be held
bins = [-120, 149.9, 199.9, 249.9, 299.9, 349.9,399.9, 449.9, 499.9, 600]

# Create the names for the four bins
group_names = ["PK to +150","+150 to +200", "+200 to +250", "+250 to +300", "+300 to +350","+350 to +400", "+400 to +450", "+450 to +500", "+500 and up"]

In [33]:
dog_df["Close Groups"] = pd.cut(dog_df["Close"], bins, labels=group_names, include_lowest=True)

In [34]:
ml_won = (dog_df['ML_Result'] == 'Won')
ml_loss = (dog_df['ML_Result'] == 'Loss')

pl_won = (dog_df['PL_Result'] == 'Won')
pl_loss = (dog_df['PL_Result'] == 'Loss')

metrics_df = pd.DataFrame()

metrics_df['Wins'] = dog_df[ml_won].groupby('Close Groups')['Team'].count()
metrics_df['Losses'] = dog_df[ml_loss].groupby('Close Groups')['Team'].count()
metrics_df['PL Wins'] = dog_df[pl_won].groupby('Close Groups')['Team'].count()
metrics_df['PL Losses'] = dog_df[pl_loss].groupby('Close Groups')['Team'].count()
metrics_df['Total'] = dog_df.groupby('Close Groups')['Team'].count()

metrics_df['Win %'] = 100 * metrics_df['Wins'] / metrics_df['Total']
metrics_df['Loss %'] = 100 * metrics_df['Losses'] / metrics_df['Total']
metrics_df['PL Win %'] = 100 * metrics_df['PL Wins'] / metrics_df['Total']
metrics_df['PL Loss %'] = 100 * metrics_df['PL Losses'] / metrics_df['Total']

metrics_df['Wins'] = metrics_df['Wins'].astype(int)
metrics_df['Losses'] = metrics_df['Losses'].astype(int)
metrics_df['PL Wins'] = metrics_df['PL Wins'].astype(int)
metrics_df['PL Losses'] = metrics_df['PL Losses'].astype(int)
metrics_df['Total'] = metrics_df['Total'].astype(int)

metrics_df['Win %'] = round(metrics_df['Win %'], 2)
metrics_df['Loss %'] = round(metrics_df['Loss %'], 2)
metrics_df['PL Win %'] = round(metrics_df['PL Win %'], 2)
metrics_df['PL Loss %'] = round(metrics_df['PL Loss %'], 2)

metrics_df

,Wins,Losses,PL Wins,PL Losses,Total,Win %,Loss %,PL Win %,PL Loss %
Close Groups,,,,,,,,,
PK to +150,2055,2604,3164,1495,4659,44.11,55.89,67.91,32.09
+150 to +200,550,1002,946,606,1552,35.44,64.56,60.95,39.05
+200 to +250,120,234,200,154,354,33.90,66.10,56.50,43.50
+250 to +300,24,46,38,32,70,34.29,65.71,54.29,45.71
+300 to +350,5,18,11,12,23,21.74,78.26,47.83,52.17
+350 to +400,0,7,3,4,7,0.00,100.00,42.86,57.14
+400 to +450,0,1,0,1,1,0.00,100.00,0.00,100.00
+450 to +500,1,2,1,2,3,33.33,66.67,33.33,66.67
+500 and up,0,1,0,1,1,0.00,100.00,0.00,100.00